body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

#about, #education, #skills, #experience, #contacts {
    margin-bottom: 30px;
}

#about p {
    line-height: 1.6;
}

#contacts a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#contacts a:hover {
    color: #0056b3;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.card-content {
    text-align: left;
}

.card-content h3 {
    margin-top: 0;
    color: #007bff;
}

.card-content p {
    margin-bottom: 0;
}